@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppinsBold";
    src: url("./fonts/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "poppinsMedium";
    src: url("./fonts/Poppins-Medium.ttf") format("truetype");
    font-style: normal;
}

.slider1 {
    height: 42.5rem;
    width: 100%;
    background-image: url("./images/slider1.png");
    overflow: hidden;
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.slider1 h1 {
    font-family: poppinsBold;
}

.slider1 p {
    font-family: poppinsMedium;
}

.slider2 {
    height: 42.5rem;
    width: 100%;
    background-image: url("./images/slider2.png");
    overflow: hidden;
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.slider2 h1 {
    font-family: poppinsBold;
}

.slider2 p {
    font-family: poppinsMedium;
}

.slider3 {
    height: 42.5rem;
    width: 100%;
    background-image: url("./images/slider3.png");
    overflow: hidden;
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.slider3 h1 {
    font-family: poppinsBold;
}

.slider3 p {
    font-family: poppinsMedium;
}


.ant-carousel .slick-dots li.slick-active button {
    background-color: #3EB489;
    color: none!important;
    height: 15px;
    width: 15px;
}
.ant-carousel .slick-dots li button {
    height: 15px;
    width: 15px;
    position: absolute!important;
    bottom: 50px!important;
    border-radius: 50%!important;
}

.footer-background {
    height: 42.5rem;
    width: 100%;
    background-image: url("./images/slider2.png");
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: white!important;
}

.ant-btn:hover{
    background-color: transparent!important;
    color: #3EB489!important;
}

.modal-btn {
    border-color: #3EB489!important;
}